@import 'tailwindcss';

html,
body,
#app {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
}

body {
  @apply bg-white dark:bg-gray-900;
}

#app {
  justify-content: center;
}
